<body class="container-fluid">
	<div class="col-sm-12">
		<h3>Edit To Do List</h3>

		<%= render 'form' %>
	</div>
	
	<div class="col-sm-12">
		<%= link_to 'Back', authenticated_root_path %>
	</div>
</body>