.paperclip-images {
	color: #5D5D5D;
	font-size: 1.000em;
	text-align: right;
	letter-spacing: 0.075em;
	font-family: "Courier New", Courier, monospace;
	list-style-type: none;
}

.paperclip-images-icons {
	color: #5D5D5D;
	font-size: 1.000em;
	text-align: right;
	letter-spacing: 0.075em;
	padding: 5px;
	margin: 10px 0 20px 0px;
	
	a:hover {
		border-bottom: none;
	}
}