.paperclip-images {
	color: #5D5D5D;
	text-align: center;
	list-style-type: none;
}

.paperclip-images-icons {
	color: #5D5D5D;
	text-align: center;
	padding: 5px;
	margin: 10px 0 20px 0px;
	
	a:hover {
		border-bottom: none;
	}
}