.paperclip-images {
	color: #5D5D5D;
	text-align: center;
	list-style-type: none;
	vertical-align: middle;
	margin: 10px 0 0 0;
}

.paperclip-images-icons {
	color: #5D5D5D;
	text-align: center;
	margin: 20px 0 0 0;
	vertical-align: middle;
	
	a:hover {
		border-bottom: none;
	}
}